:root {
  --theme-first-color: #00204a;
  --theme-second-color: #005792;
  --theme-third-color: #00bbf0;
  --theme-fourth-color: hsl(48, 100%, 50%);
  --theme-default-color: #eee;
}

.prominent {
  background: var(--theme-second-color) !important;
  border-color: var(--theme-third-color) !important;
  color: white !important;
}

.outline-prominent {
  background: none !important;
  color: var(--theme-first-color) !important;
  border: 1px solid var(--theme-first-color) !important;
}

.default {
  background-color: var(--theme-default-color) !important;
  border-color: var(--theme-third-color) !important;
  color: black !important;
}

.outline-default {
  background: none !important;
  color: var(--theme-third-color) !important;
  border: 1px solid var(--theme-third-color) !important;
}

.warning {
  background: var(--theme-fourth-color);
  color: black;
}

.outline-warning {
  background: none !important;
  color: var(--theme-fourth-color) !important;
  border: 1px solid var(--theme-second-color) !important;
}

.danger {
  background: hsla(0, 100%, 50%, 0.812) !important;
  color: var(--theme-default-color);
}

.outline-danger {
  background: none !important;
  /* background: var(--theme-default-color) !important; */
  color: hsla(0, 100%, 50%, 0.812) !important;
  border: 1px solid hsla(0, 100%, 50%, 0.812) !important;
}

.info {
  background: hsla(193, 100%, 47%, 0.852) !important;
}

.outline-info {
  background: none !important;
  /* background: var(--theme-default-color) !important; */
  color: hsla(193, 100%, 47%, 0.852) !important;
  border: 1px solid hsla(193, 100%, 47%, 0.852) !important;
}

.success {
  background: hsla(120, 100%, 25%, 0.815);
  color: white;
}

.outline-success {
  background: none !important;
  /* background: var(--theme-default-color) !important; */
  color: hsla(120, 100%, 25%, 0.815) !important;
  border: 1px solid hsla(120, 100%, 25%, 0.815) !important;
}