.button {
    align-items: center;
    background: #e4e4e4;
    border: 1px solid;
    border-radius: 15pt !important;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    justify-content: center;
    display: flex;
    min-width: fit-content;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

a.button {
    text-decoration: none;
}

.btn-medium {
    min-height: 40px;
    padding: 6px 12px;
}

.btn-small {
    padding: 6px 6px;
}

.btn-large {
    min-height: 60px;
    padding: 12px 24px;
}

/* button:hover {
    box-shadow: 2px 2px 6px grey !important;
} */